.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDATATmp
credentials.yml
/boot/data
/boot/initial
/data
/original_call
/model
/output
/report
/model
/original_call
output.html
inventory.docx
inventory_final_commented.docx